@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Inter:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply !font-Inter;
  }
  body::-webkit-scrollbar {
    @apply w-2 h-1.5 bg-muted-accent-2 rounded-md hidden;
  }
  body::-webkit-scrollbar-thumb {
    @apply hidden;
  }
  .path-class-style-1 {
    @apply !fill-white;
  }
  svg .path-class-style-1 {
    @apply !fill-white;
  }
  svg path.path-class-style-1 {
    @apply !fill-white;
  }
}

@layer utilities {
  .required:after {
    content: " *";
    color: red;
  }
  .input__class-regular {
    @apply bg-transparent border focus:ring-2 focus:border-transparent focus:ring-orange-accent-2 border-[#8D92A3] py-1.5 rounded-lg px-2 w-full placeholder:text-slate-400 outline-none placeholder:font-normal placeholder:text-sm transition duration-300 ease-in-out;
  }

  .input__class-borderless {
    @apply !border-transparent focus:ring-transparent input__class-regular;
  }

  .label__class-regular {
    @apply capitalize font-semibold text-lg leading-6;
  }
  .myborn_scrollbar::-webkit-scrollbar {
    @apply w-2 h-2 bg-muted-accent-2 rounded-md;
  }
  .ghost_scrollbar::-webkit-scrollbar {
    @apply w-2 h-2 bg-muted-accent-2 rounded-md hidden;
  }
  .myborn_scrollbar::-webkit-scrollbar-thumb {
    @apply !cursor-pointer bg-blue-accent-1 rounded-md;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .basic__transition {
    @apply transition-all  duration-300 ease-in-out;
  }
  .basic__border {
    @apply border border-slate-200/75;
  }
  .basic__button {
    @apply border   basic__transition py-2.5 rounded-xl text-white font-semibold;
  }
  .basic__button-contained {
    @apply hover:bg-transparent basic__button border-transparent ;
  }
  .basic__button-outlined {
    @apply basic__button;
  }

  .basic__button-red {
    @apply basic__button-contained bg-red-accent-2  hover:border-red-accent-2 hover:text-red-accent-2;
  }
  .basic__button-green {
    @apply basic__button-contained bg-green-accent-4  hover:border-green-accent-4 hover:text-green-accent-4;
  }
  .basic__button-dark {
    @apply basic__button-contained bg-dark-accent-3  hover:border-dark-accent-3 hover:text-dark-accent-3;
  }
  .basic__button-orange {
    @apply basic__button-contained bg-orange-400  hover:border-orange-400 hover:text-orange-400;
  }
  .basic__button-gray {
    @apply basic__button-contained bg-gray-600  hover:border-gray-600 hover:text-gray-600;
  }

  .basic__button-gray-outlined {
    @apply basic__button-outlined border-gray-600 !text-gray-600 hover:bg-gray-600 hover:!text-white;
  }
  .basic__button-orange-outlined {
    @apply basic__button-outlined border-orange-400 !text-orange-400 hover:bg-orange-400 hover:!text-white;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: red;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
